body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
}

#timer {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question-container {
    margin-bottom: 20px;
}

.btn-container {
    margin-top: 20px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #007bff;
}

.btn.correct {
    background-color: #28a745;
}

.btn.wrong {
    background-color: #dc3545;
}

/*style du menu*/
/* Style du menu */
nav {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    background-color: #f8f9fa; /* Ajoute une couleur de fond pour le contraste */
    padding: 10px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ajoute une ombre pour le style */
}

nav a {
    text-decoration: none;
    color: black;
    background-color: #ffffff;
    height: 36px;
    line-height: 36px; /* Aligne verticalement le texte */
    padding: 0 15px; /* Augmente le padding pour une meilleure lisibilité */
    font-family: sans-serif;
    font-size: 13px;
    margin: 0 5px; /* Espacement entre les éléments */
    border-radius: 5px; /* Ajoute des coins arrondis pour le style */
}

nav a:hover {
    background-color: #e2e6ea; /* Change la couleur de fond au survol */
}
