body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 1100px;
    overflow-x: hidden;
    box-sizing: border-box;
}

h1, h3, p {
    text-align: center;
    padding: 0 10px;
}

nav {
    background-color: #007bff !important;
    padding: 10px !important;
    width: 100% !important;
    text-align: center !important;
    color: white !important;
    box-sizing: border-box !important;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #0056b3; /* Couleur de survol */
}

@media (max-width: 600px) {
    body {
        padding: 0;
    }

    nav {
        font-size: 14px;
    }
}
