body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
}

#timer {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question-container {
    margin-bottom: 20px;
}

.btn-container {
    margin-top: 20px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #007bff;
}

.btn.correct {
    background-color: #28a745;
}

.btn.wrong {
    background-color: #dc3545;
}

/* Réinitialiser les styles de base pour les marges et les bordures */
body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général pour la barre de navigation */
.navbar {
    background-color: #333;
    padding: 10px 0;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Effet de survol pour les éléments du menu */
.menu a:hover {
    background-color: #407d85;
    color: #000000;
}

/* Effet actif pour le lien sélectionné */
.menu a:active {
    background-color: #444;
}
